@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body,

.Title {
  background-color: black;
  height: 200px;
  position: absolute;
  width:100%;
  top: -15px;
}

.Subtext {
  padding-top: 200px;
  width:100%;
  height: 50px;
  background-color: #737373;
}

.MainContent {
  position: relative;
  width: 80%;
  height: 200px;
  margin-left:200px;
  margin-right:200px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px grey;
  transition: all .4s ease-in-out;
  background-color:white;
  border-radius: 25px;
}

.MainContent:hover{
  transform: scale(1.02);
}

.Glass {
  position: relative;
  background-color: #999999;
  float: right;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 60%;
  height: 200px;
  opacity: 0.3;
  top: -79px;
  margin-right: -120px;

}

@keyframes raise {
  from {height: 200px;}
  to {height: 0px;}
}

.MainContent:hover .Glass {
  animation-fill-mode: forwards;
  animation-name: raise;
  animation-duration: 2s;
}

.RegButton {
  position:relative;
  background-color: white;
  top: -5px;
  width: 200px;
  height: 45px;
  float: right;
  margin-right: 200px;
  box-shadow: 2px 2px 3px black;
  transition: all .4s ease-in-out;
  border-radius: 15px;
}

.RegButton:hover{
  transform: scale(1.05);
}

.AccButton {
  position: relative;
  float: right;
  height:40px;
  width:40px;
  border-radius:20px;
  background-color: #cccccc;
  margin-top: 50px;
  margin-right: 20px;
}

body {
  background-color: #cccccc;
  color: white;
  margin:0;
}

/*p1 not a real tag, remove in the future*/
.p1 {
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 200%;
  padding-left: 100px;
  position: relative;
  top: 100px;
}

.p2 {
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 150%;
  margin-top: 5px;
  margin-right: 50px;
  float: right;

}

h1 {
  font-family: 'Indie Flower', cursive;
  position: absolute;
  padding-left: 200px;
  padding-top: 30px;
  text-align: left;
  font-size: 350%
}

.p0 {
  position: absolute;
  padding: 120px 0px 0px 260px;
  letter-spacing: 1px;
}
